body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    padding-bottom: 33%;
}
.bod {
    background-color: red;
    padding: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.bigDiv {
    display: flex;
    flex-direction: column;
    height: 512px;
    width: 512px;
}

.midDiv {
    display: flex;
    flex-direction: row;
}

.lastDiv {
    /*width: 32px;
    height: 32px;*/
    background-color: grey;
}